{% extends 'base.html.twig' %}

{% block title %}Edit Env{% endblock %}

{% block body %}
    <h1>Edit Env</h1>

    {{ include('env/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_env_index') }}">back to list</a>

    {{ include('env/_delete_form.html.twig') }}
{% endblock %}
