{% extends 'base.html.twig' %}

{% block title %}New Env{% endblock %}

{% block body %}
    <h1>Create new Env</h1>

    {{ include('env/_form.html.twig') }}

    <a href="{{ path('app_env_index') }}" class="btn btn-secondary">Back to list</a>
{% endblock %}
