{% extends 'base.html.twig' %}

{% block title %}Get {{app.name}}{% endblock %}
{% set hide_navbar = true  %}
{% block body %}
<table class="tabled">
    <thead class="table-dark">
        <tr>
            <th>Env</th>
            <th>Last Version</th>
        </tr>
    </thead>
    <tbody>
        {% for env in app.envs %}
        <tr>
            <td><b>{{ env.name }}</b></td>
            <td>
            {{ env.versions|last.version }} (deployed {{  env.versions|last.createdAt|date('Y-m-d H:i:s')}})
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}